

img {
    width: 95%;
    height: 95%;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.buttons {
    text-align: center;
    display: flex;
    flex: 1;
    gap: 16px;
    justify-content: space-evenly;
}

.image {
    height: 240px;
    width: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fire {
    padding: 2px;
    background-image: linear-gradient(white, #ff4343);
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 4px 4px gray;
}

.water {
    padding: 2px;
    background-image: linear-gradient(white, #2e77fd);
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 4px 4px gray;
}

.grass {
    padding: 2px;
    background-image: linear-gradient(white, #0e8f0e);
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 4px 4px gray;
}

.header {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(gray, white, gray);
    display: flex;
    justify-content: space-between;
    
}

.headerImage {
    height: 100px;
    width: auto;
    border: none;
}

.headerGroup {
    display: flex;
    gap: 20px;
}

.playerHeaderScore,
.rivalHeaderScore {
    display: flex;
    align-self: center;
    font-size: 40px;
    font-family: Roboto, sans-serif;
}

